<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Hike Every Weekend</title>

  <!-- Bootstrap -->


      


  </style>
</head>
<body>

  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->

        Hike Every Weekend
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->


    </div>
    <!-- /.navbar-collapse -->
  
  <!-- /.container-fluid -->
</nav>

  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul class=flashes>
    {% for message in messages %}
    <li> {{ message }} </li>
    {% endfor %}
  </ul>
    {% endif %}
    {% endwith %}


  
{% block content %}
{% endblock %}
</div>



</body>
</html>