{% extends 'base.html' %}
{% block content %}
  <div id="Login user">
    <h2>Login User</h2>
      Phone Number:<input type="text" name="phonenumber">
      Password:<input type="password" name="password" required>
      <input type="submit" name="login" value="Login"> 
    </form>
   <div id="Signup user">
   <h2>Signup User</h2>
      Phone Number:<input type="text" name="phonenumber">
      Password: <input type="password" name="password" required>
      <input type="submit" name="signup" value="Signup">

    </div> 
    <form action="/zaki" method="post">



  </form>
{% endblock %}