{% extends 'base.html' %}
{% block content %}

   <form action="/preference" method="post">
   	<p> {{ form.location.label }} {{ form.location }}</p>
    <p> {{ form.parking.label }} {{ form.parking }}</p>
    <p> {{ form.restrooms.label }} {{ form.restrooms }}</p>
    <p> {{ form.dogfriendly.label }} {{ form.dogfriendly }}</p>
    <p> {{ form.kidsfriendly.label }} {{ form.kidsfriendly }}</p>
    <p> {{ form.daily.label }} {{ form.daily }}</p>
    <p> {{ form.weekly.label }} {{ form.weekly }}</p>
    <p> {{ form.monthly.label }} {{ form.monthly }}</p>
    {{ form.submit }}  
  </form>

{% endblock %}