{% extends 'base.html' %}

{% block head %}
    <style>
      html, body { height:100%; }
    #map {
      height: 50%;
      width: 50%;
    }
	</style>
{% endblock %}

{% block content %}

	<div id="map"></div>
	

	<script type="text/javascript">
		const trail_info = ({{ list_trails_info | tojson }});

		function addFaveTrail(target) {
			
			let button = target;// $(target);
			let img = button.dataset.trailImage;
			let trailDir = button.dataset.trailDirections;
			let trailurl = button.dataset.trailUrl;
			let trailName = button.dataset.trailName;
			let isFav = button.dataset.trailFav;
			let data = {
				trailImage: img,
				trailDirections: trailDir,
				trailUrl: trailurl,
				trailName: trailName,
			};
			if (isFav == 'false'){
				$.post("/save-trails", data, (result) =>{
					for(let i=0; i<trail_info.length; i++){
					if(trail_info[i]["name"]==trailName){
						trail_info[i]["is_fav"] = true;
						document.getElementById(button.id).innerHTML = "Added";
					}
				}
				});
			}else{
				$.post("/unfav-trails", data, (result) =>{ 
				for(let i=0; i<trail_info.length; i++){
					if(trail_info[i]["name"]==trailName){
							trail_info[i]["is_fav"] = false;
							document.getElementById(button.id).innerHTML = "Add to favorites!";
					}
				}
				
			});
				

			}

		}

		function myMap() {

			avg_lat = 0; avg_lon = 0;
			for(i = 0; i < trail_info.length; i++){
			trail = trail_info[i];
			avg_lat += trail["coordinates"]["latitude"];
			avg_lon += trail["coordinates"]["longitude"];
			}
			avg_lat /= trail_info.length;
			avg_lon /= trail_info.length;

			let myCenter = {lat: avg_lat, lng: avg_lon};

			let map = new google.maps.Map(document.getElementById('map'),{
				zoom: 11,
				center: myCenter,
			});

			let infoWindow = new google.maps.InfoWindow;


			trail_info.forEach((trail) =>{
				lati = trail.coordinates.latitude;
				longi = trail.coordinates.longitude;
			

				let marker = new google.maps.Marker({
					position: new google.maps.LatLng(lati, longi),
					map: map,
					animation: google.maps.Animation.DROP,
					draggable: true,
					trail: trail
				});


				bindInfoWindow(marker, map, infoWindow);
			});


		}


		function bindInfoWindow(marker, map, infoWindow) {
			google.maps.event.addListener(marker, 'mouseover', function () {
			    infoWindow.close();

			    let trail = marker.trail;
			    let button_name = "Add to favorites";
			    let trail_enabled = "";
				if(trail.is_fav){
					// trail_enabled = "disabled";
					button_name = "Added";
				}

			    const html = `
					<div style="width:250px; height:200px">
						<div class="window-content">
				        	<img src="${trail.image_url}"
				        	     alt="Trail image"
				        	     style=width:100px; height:100
				        	     class="thumbnail">
				            <p>
				            	<b>Trail name: </b>${trail.name}
				            </p>
				            				            <button
				            	${trail_enabled}
				            	id="trail.${trail.id}"
				            	data-trail-image="${trail.image_url}"
				            	data-trail-directions="${trail.google_directions_address}"
				            	data-trail-url="${trail.url}"
				            	data-trail-name="${trail.name}"
				            	data-trail-fav="${trail.is_fav}"
				            	class="add-fave-btn"
				            	name="redirect"
				            	onclick="addFaveTrail(this)"
				            >
				            	${button_name}
				            </button>
				            <br><br>
				            <a href="${trail.google_directions_address}">
				   				Get Directions
				   			</a><br><br>
				            <a href="${trail.url}">
				            	Find me on Yelp
				            </a><br><br>

	
				        </div>
				    </div>
				`;

			    infoWindow.setContent(html);
			    infoWindow.open(map, marker);
			});
		}
	</script>
	<script async defer src={{map_api}}></script>
 {% endblock %}