{% extends 'base.html' %}
{% block content %}
		<br>
	<img style ="display: inline;"src="https://img.icons8.com/ultraviolet/40/000000/cell-phone.png">

	<h4 style="display: inline;">{{ user_phonenumber }}</h4>
	<br>
	<img style ="display: inline;"src="https://img.icons8.com/color/48/000000/user-location.png">

	<h4 style="display: inline;">{{ user_location }}</h4>
<center>
  <img style="display: inline; width: 50px; height: 50px;"src="../static/heart.png" alt="logo" />
  <h2 style="display: inline;">My Favorites</h2>
</center>


<div class="grid-container">
	
	{% for trail in user.trails %}
	<div class="grid-item">
	

		
			<img src={{trail.trail_image}} alt="Trail image" style="width:200px; height:200px" >
	
			<br>
			{{trail.trail_name}}
		
			<br>
	
		<i class="fas fa-directions fa-lg" aria-hidden="true" style="font-size:25px;color:green"></i>
			<a href={{trail.trail_google_direction}}>Get Directions</a>


			<br>
			<i class="fa fa-yelp fa-lg" aria-hidden="true" style="font-size:25px;color:red"></i> 
			<a href={{trail.trail_yelp_link}}>Find me on Yelp</a>


	</div>	
	

	{% endfor %}

</div>

 {% endblock %}	}
